# ignore everything by default
**

# allow JS files
!*.ts
!*.js
!*.mjs
!*.json
!pnpm*.yaml
!.npmrc
!.syncpackrc

# permit git dir, for version info
!.git/

# allow ca
!ci/cert/ca-certificate.crt

# allow all in-repo packages
!packages/

# allow veil source app source code
!apps/veil/*.js
!apps/veil/*.ts
!apps/veil/*.mjs
!apps/veil/*.json
!apps/veil/.env*
!apps/veil/src/
!apps/veil/public/
!apps/veil/app/
!apps/veil/pages/

# allow minifront-v2 source
!apps/minifront-v2/*.js
!apps/minifront-v2/*.ts
!apps/minifront-v2/*.mjs
!apps/minifront-v2/*.json
!apps/minifront-v2/*.html
!apps/minifront-v2/*.d.ts
!apps/minifront-v2/src/
!apps/minifront-v2/app/
!apps/minifront-v2/pages/

# re-ignore node_modules within packages and apps
/**/target/
/**/node_modules/
/**/.next/

*.pk 
*.vk
*.bin

# TEMPORARILY 
!*.svg
